h2 About

p This is a personal project by Stefan Wienert.
p When I went on bike rides, I noticed somedays were more comfortable to drive than other days. To get a better feeling for the weather on my trips, I decided to build this app to annotate my trips with weather information.
p First, I want to comment on the trips, but at the moment, it is not possible for external apps to comment on trips on Strava. This is why this app will use the description and append a weather summary comment.

p This website's code is OpenSource and can be found on Github:

code: a href='https://github.com/zealot128/strava_weather_annotator'
  |zealot128/strava_weather_annotator


h3 Impressum (German legal)

p Stefan Wienert, Kelsterbach

p E-Mail: info@stefanwienert.net Internet: http://stefanwienert.net/ http://stefanwienert.de/

p Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Stefan Wienert

p Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir, die Betreiber dieser Webseite und deren Unterseiten (Subdomains) keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

