h1 Strava Weather Annotations

p In this app, you can see your recent trips on Strava. You can query weather information for the trip (data by Foreground.io) and the app will then comment on the trip with a weather summary.


a.btn.btn-primary.btn-lg href='/auth/strava' Login
