@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

@import 'climacons';

main {
  padding-bottom: 80px;
  margin-top: 51px; // accommodate the navbar
}


.trips-list-group {
  position: relative;
  display: block;
  .side {
    position: absolute;
    width: 150px;
  }
  .list-group-item {
    margin-left: 150px;
  }

}

ul.pagination { margin-bottom: 0 }
