// import the CSS framework
@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";

@import 'climacons-font';


main {
  padding-bottom: 80px;
  margin-top: 51px; // accommodate the navbar
}

footer {
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  a:link {
    color: $navbar-inverse-link-color;
  }
  // background-color: $navbar-inverse-c
}

